@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* CSS Document */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

body{
    background-color: #F4F0EA;
    color: #798252;
}

main{
    padding: 2rem 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
    min-width: 320px;
    max-width: 1200px;
    height: auto;
    border: 2px solid #331F19;
    border-radius: 0px 0px 20px 20px;
    background-color: #E6E2D3;
    box-shadow: 10px 10px 5px #B8B2A7; 
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    min-width: 320px;
    max-width: 900px;
    margin: auto;
    height: auto;
}

h2{
    color: #331F19;
    font-size: 1.2em;
    font-family: "Nova Mono", "Cabin", monospace;
}


input[type="Radio"], input[type="checkbox"], label{
    accent-color: #CCD595;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    color: #331F19;
    user-select: none;

}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    outline: none;
    border-radius: 9px;
    background-color: transparent;
    cursor: pointer;
}
input::placeholder{
    color: #9c9081;
}

select{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #798252;
    background-color: #CCD595;
    outline: none;
    font-family: "Nova Mono", monospace;
    color: #331F19;
    padding: 0.5rem;
    font-weight: 700;
    text-align: center;
    width: 25%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%204%205%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23331F19%22%20stroke-width%3D%221.5%22%20d%3D%22M0%200l2%202l2-2zM0%205l2-2l2%202z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    font-size: 1rem;
    
}

 input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover{
    border: 2px solid #798252;
}

img{
    width: 5rem;
    border-radius: 5px;
    z-index: 100;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #331F19;
}

th{
    background-color: #CCD595;
    color: #331F19;
    padding: 1rem;
    border: 2px solid #331F19;
}

td{
    background-color: #E6E2D3;
    color: #331F19;
    padding: 1rem;
    border-bottom: 2px solid #798252;
    border: 2px solid #331F19;
}

tfoot td{
    background-color: #331F19;
    color: #F4F0EA;
    border: 2px solid #331F19;
}  

section > .details-content{
    text-align: center;
    border: 2px solid #331F19;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #B8B2A7;
    background-color: #E6E2D3;
    position: absolute;
    width: 400px;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    line-height: 1.3rem;
    max-height: 0; 
    overflow: hidden;
}

section button{
    padding: 1rem;
    background-color: #CCD595;
    color: #331F19;
    font-weight: 700;
    max-width: 320px;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

details[open] .details-content {
    max-height: 600px;
    opacity: 1;
    transition: max-height 0.6s ease, opacity 0.6s ease; 
}

.details-content.show {
    max-height: 600px;
    opacity: 1;
    margin: auto;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.details-content ul{
    list-style: none;
    text-align: center;
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.details-content ul li{
    padding: 0.3rem 0px;
    font-size: 14px;
    color: #331F19;
    font-weight: 600;
    width: 50%;
    margin: auto;
    text-align: left;

}
ul strong{
    color: #798252;
}
section#feedback {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
 }

fieldset{
    border: 2px solid #331F19;
    border-radius: 10px;
    padding: 1rem 20px 1rem 20px;
    background-color: #F4F0EA;
    box-shadow: 5px 5px 5px #B8B2A7;
    text-align: left;
    max-width: 30vw;
    min-width: 20vw;
    margin: auto;
    
}

fieldset button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #CCD595;
    color: #331F19;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
fieldset button:hover, button:hover{
    background-color: #798252;
    color: #F4F0EA;
    cursor: pointer;
    transition: 0.5s ease;
    transition-delay: 100ms;
}

fieldset legend{
    padding: 0px 10px;
    font-weight: 700;
    color: #331F19;
}

label{
    font-weight: 600;
}

textarea{
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCD595;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    color: #331F19;
}

footer{
    background-color: #000000;
    color: #F4F0EA;
    justify-content: space-around;
    padding: 0.3vh;
    font-size: 0.9rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #331F19;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    z-index: 1;
    }

 a{
    color: #CCD595;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

 a:hover{
    color: #0059ff;
    text-decoration: underline;
}
@media (min-width: 501px) {
header{
    padding: 2rem;
    background-color: #331F19;
    text-align: center;
    line-height: 2.4rem;
}
header h1{
    color: #798252;
    font-size: 3em;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 1em;
    font-family: "Cinzel Decorative", "Cabin", serif;
}
header p{
    color: #F4F0EA;
    font-size: 17px;
    font-weight: 400;
}
}

@media (max-width: 500px) {
    section > .details-content {
        min-width: 200px;
        max-width: 300px;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        font-size: 0.6em;
        box-sizing: border-box;
    }
    main, section {
        min-width: 200px;
        max-width: 530px;
        height: auto;
        margin: 0px;
        padding: 10px 0;
        box-sizing: border-box;
        border-radius: 0;
        border-width: 1px;
    }
    section, fieldset {
        min-width: 300px;
        max-width: 350px;
        height: auto;
        margin: 0px;
        box-sizing: border-box;
        border-radius: 0;
        font-size: 0.76em;
    }
    img {
        width: 8rem;
        max-width: 90vw;
    }

    header{
        background-color: #331F19;
        text-align: center;
    }
    header h1{
        color: #798252;
        width: 370px;
        margin: auto;
        line-height: 30px;
        height: 69px;
        font-size: 1.2em;
        font-weight: 600;
        font-family: "Cinzel Decorative", "Cabin", serif;
    }

    header p{
        color: #F4F0EA;
        padding: 4px;
        font-size: 0.6rem;
        font-weight: 500;
        height: auto;
        margin: auto;
        max-width: 86vw;
    }

    footer{
        font-size: 0.7em;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;

    }
    footer p{
        width: 138px;
        height: auto;
    }
}